<%- include('./partials/header.ejs') %>
    <div class = "content">
        <div class="background">
            <div class="sub">
                <h2>Welcome to Tech Trade..!</h2>
                    <p>Hey.. are you looking to trade your electronics? Then you have landed at the right place :) <br><br>
                        You just need to select the item you want to trade and give the details.. Thatss ittt..<br><br>
                        Wait no more and go start your trading by clicking on the start trading option on the top right. If you want to check the items, you can go to Trades page</p>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>
